/* home.css */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.bg-container {
  position: relative; /* Make the container position relative */
  width: 100%;
  height: calc(100vh - 93px); /* Adjust the height to leave space for the navbar */
  overflow: hidden; /* Hide overflow to prevent vertical scrollbar */
}

.bg-container img {
  position: absolute; /* Position the image absolutely */
  top: 93px; /* Set the top position to leave space for the navbar */
  left: 0;
  width: 100%;
  height: calc(100% - 93px); /* Set the height to cover the remaining space */
  object-fit: cover; /* Ensure the image covers the entire area */
}

